
/* Header */
.container-header {
    text-align: center;
    background-color: #19bc9b;
    padding: 50px  0;
    color:white;
}


.container-images {
   
}

[class*="item"] {
    height:260px;
    margin-bottom: 24px;
    text-align: center;
}
.container{
    border: 2px black solid;
}
.container-images img{
    height: 100%;
    width: 100%;
}

.container-images h1, .container-about h1 {
    padding-top: 50px;
}

.container-about{
    background-color: #19bc9b;
    color:white;
}

.about-content{
    height: 200px;
    background-color:blue;
    font-size:23px;
}
.text-centred{
    text-align: center;
}

.container-footer {
    height: 200px;
    background-color: blueviolet;
    text-align: center;
    padding: 30px 210px;
    color:white;
}

.container-nav{
    height: 100px;
    background-color: black;
}

.container-copyright {
    height:70px;
    background-color: darkslategray;
    text-align: center;
    color:white;
    padding-top: 30px;
}



.informations { 
    border: 2px yellow solid;
    padding: 15px;
}


.container-about button{
       position: relative;
       left:46%;
}

.container-contacts {
  min-height: 500px;
  padding: 30px 200px;
}