
.container-fluid {
    background-color: aqua;
}

.container {
    background-color: blue;
    height:600px;
    /* text-align: center; */
    color:white;
}
.container-header {
    height: 400px;
    text-align: center;
}

.container-images h1, .container-about h1 {
    padding-top: 50px;
}
.container-about{
    height: 500px;
    background-color: brown;
}

.text-about{
    text-align: center;
}
.container-footer {
    height: 200px;
    background-color: blueviolet;
    text-align: center;
    padding: 30px 210px;
    color:white;
}

/* .footer-list {
    padding: 30px 300px;
} */

.container-nav{
    height: 100px;
    background-color: black;
}

.container-copyright {
    height:70px;
    background-color: darkslategray;
    text-align: center;
    color:white;
    padding-top: 30px;
}
[class*="item"] {

    height:180px;
    border: 2px red solid;
}

.informations { 
    border: 2px yellow solid;
    height: 180px;
    padding: 15px 230px 0 230px;
}
img{
    height: 100%;
    width:100%;
}
.container-about button{
       position: relative;
       left:46%;
}
.container-contacts {
  padding: 30px 200px;
}