/* Navbar */
.container-nav{
    height: 100px;
    background-color: black;
}
/* Header */
.container-header {
    text-align: center;
    background-color: #19bc9b;
    padding: 50px  0;
    color:white;
}


.container-images {
   
}

[class*="item"] {
    height:260px;
    margin-bottom: 24px;
    text-align: center;
}
.container{
    border: 2px black solid;
}
.container-images img{
    height: 100%;
    width: 100%;
}

.container-images h1, .container-about h1 {
    padding-top: 50px;
}

.container-about{
    background-color: #19bc9b;
    color:white;
}

.about-content{
    height: 180px;
    font-size:23px;
}
.text-centred{
    text-align: center;
}

.container-footer {
    height: 230px;
    background-color: rgb(45, 45, 73);
    text-align: center;
    color:white;
}

.container-footer a{
    text-decoration: none;
    color:#19bc9b;
}

li {
    list-style: none;
}


.container-footer .circle-icon {
    border: 1px white solid;
    border-radius: 50%;
    padding: 20px;
    font-size: 20px;
    margin-left: 15px;

}

.facebook {
    font-size: 17px;
    border: 1px white solid;
    border-radius: 60%;
    padding: 24px;
   

}
.btn-green {
    background-color:#19bc9b ;
    border: 1px white solid;
    color:white;
}
.footer-content{
    margin-top: 50px;
}

.footer-content h1 {
    font-size: 27px;
}

.text-footer {
    font-size: 23px;
}
.container-copyright {
    height:70px;
    background-color: darkslategray;
    text-align: center;
    color:white;
    padding-top: 30px;
}


.container-about button{
   
       position: relative;
       left:43%;
       margin-top: 30px;
       margin-bottom: 50px;
}

.container-contacts {
  min-height: 500px;
  padding: 30px 200px;
}

.contact-form input{
    width:100%;
    border: 0;
    border-bottom: 1px #ccc solid;
    margin-bottom: 15px;
}

textarea{
    width: 100%;
    border: 0;
    border-bottom: 1px #ccc solid;
}
.contact-form ::placeholder {
    color: black;
    font-size: 22px;  
}